<!-- <div class="card border-0 shadow-sm m-2">
    <div class="card-body">
        <div class="row gy-5">
            <div class="col-sm-4">
                <img src="../../../assets/new-player.png" alt="..." class="img-fluid player-image">
            </div>
            <div class="col-sm">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="d-flex align-items-center gap-2 player-details">
                            <img src="../../../assets/icons/india-flag-icon.svg" alt="" class="img-fluid national-flag">
                            <div class="d-flex flex-column">
                                <div class="player-name fw-bold">Mr. Lucas Hood</div>
                                <div class="sub-title">Captain</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="basic-details my-3">
                    <h4 class="text-main">Basic Details</h4>
                    <div class="row gy-4 mt-2">
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center gap-2">
                                <span><i class="fa-solid fa-envelope"></i></span>
                                <div class="d-flex flex-column justify-content-center">
                                    <p>lucashdgmail.com</p>
                                    <p>Email Address</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center gap-2">
                                <span><i class="fa-solid fa-phone"></i></span>
                                <div class="d-flex flex-column justify-content-center">
                                    <p>+91-8669264767</p>
                                    <p>Phone Number</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center gap-2">
                                <span><i class="fa-solid fa-phone"></i></span>
                                <div class="d-flex flex-column justify-content-center">
                                    <p>7</p>
                                    <p>Jersey Number</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->


<!-- 2nd version -->
<!-- <div class="container-fluid">
    <div class="row gx-2 gy-0 player-stats">
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card card-body h-100 pb-0">
                        <div class="row align-items-center gx-2 gy-4">
                            <div class="col col-sm-4 order-2 order-lg-0">
                                <div class="d-flex flex-lg-column align-items-lg-center flex-row-reverse w-100 justify-content-between player-nationality ">
                                    <img src="https://i1.wp.com/upload.wikimedia.org/wikipedia/en/thumb/8/8d/Cricket_India_Crest.svg/1200px-Cricket_India_Crest.svg.png?strip=all"
                                        alt="" class="img-fluid rotate-vert-center">
                                    <div class="d-flex flex-column justify-content-center align-items-lg-center align-items-start">
                                        <div class="player-name">Lucas Hudda</div>
                                        <div class="player-style">Right Handed Batsman</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 order-3 order-lg-0">
                                <div class="row gx-2 gy-3">
                                    <div class="col-4 col-sm-4">
                                        <div class="d-flex flex-column">
                                            <h4 class="text-main mb-0">593</h4>
                                            <small class="fw-bold small">Matches</small>
                                        </div>
                                    </div>
                                    <div class="col-4 col-sm-4">
                                        <div class="d-flex flex-column">
                                            <h4 class="text-main mb-0">12265</h4>
                                            <small class="fw-bold small">Total Runs</small>
                                        </div>
                                    </div>
                                    <div class="col-4 col-sm-4">
                                        <div class="d-flex flex-column">
                                            <h4 class="text-main mb-0">75</h4>
                                            <small class="fw-bold small">Centuries</small>
                                        </div>
                                    </div>
                                    <div class="col-4 col-sm-4">
                                        <div class="d-flex flex-column">
                                            <h4 class="text-main mb-0">197*</h4>
                                            <small class="fw-bold small">Highest</small>
                                        </div>
                                    </div>
                                    <div class="col-4 col-sm-4">
                                        <div class="d-flex flex-column">
                                            <h4 class="text-main mb-0">57</h4>
                                            <small class="fw-bold small">M.O.M</small>
                                        </div>
                                    </div>
                                    <div class="col-4 col-sm-4">
                                        <div class="d-flex flex-column">
                                            <h4 class="text-main mb-0">18</h4>
                                            <small class="fw-bold small">Jersey Number</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto col-sm order-1 order-lg-0">
                                <img src="../../../assets/user.png" alt="image" class="img-fluid user-img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card card-body h-100 recent-best-performers">
                
                    <div class="">Recent Best Performers</div>
                    <div class="row">
                        <div class="col-4 col-sm-4">
                            <div class="d-flex flex-column align-items-center gap-2">
                                <img src="../../../assets/user.png" alt="image" class="img-fluid">
                                <span>Rohir Sharma</span>
                            </div>
                        </div>
                        <div class="col-4 col-sm-4">
                            <div class="d-flex flex-column align-items-center gap-2">
                                <img src="../../../assets/user.png" alt="image" class="img-fluid">
                                <span>Rohir Sharma</span>
                            </div>
                        </div>
                        <div class="col-4 col-sm-4">
                            <div class="d-flex flex-column align-items-center gap-2">
                                <img src="../../../assets/user.png" alt="image" class="img-fluid">
                                <span>Rohir Sharma</span>
                            </div>
                        </div>
                    </div>
                
            </div>
        </div>
    </div>
</div> -->


<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item w-50" role="presentation">
        <button class="nav-link active w-100" id="single-player" data-bs-toggle="tab" data-bs-target="#single-player-pane" type="button"
            role="tab" aria-controls="single-player-pane" aria-selected="true">Individual Player Stats</button>
    </li>
    <li class="nav-item w-50" role="presentation">
        <button class="nav-link w-100" id="team-stats" data-bs-toggle="tab" data-bs-target="#team-stats-pane" type="button"
            role="tab" aria-controls="team-stats-pane" aria-selected="false">Team's Stats </button>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="single-player-pane" role="tabpanel" aria-labelledby="single-player" tabindex="0">
        <div class="container-fluid px-1">
            <div class="row g-2">
                <div class="col-sm-8">
                    <div class="card player-stats">
                        <div class="card-body">
                            <div class="row align-items-center gx-2 gy-2">
                                <div class="col col-sm-4 order-2 order-lg-0">
                                    <div
                                        class="d-flex flex-lg-column align-items-lg-center flex-row-reverse w-100 justify-content-between player-nationality ">
                                        <img src="https://i1.wp.com/upload.wikimedia.org/wikipedia/en/thumb/8/8d/Cricket_India_Crest.svg/1200px-Cricket_India_Crest.svg.png?strip=all"
                                            alt="" class="img-fluid rotate-vert-center">
                                        <div
                                            class="d-flex flex-column justify-content-center align-items-lg-center align-items-start">
                                            <div class="player-name">Lucas Hudda</div>
                                            <div class="player-style">Right Handed Batsman</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 order-3 order-lg-0">
                                    <div class="row gx-2 gy-3">
                                        <div class="col-4 col-sm-4">
                                            <div class="d-flex flex-column">
                                                <div class="stats-count text-main mb-0">593</div>
                                                <small class="fw-bold small">Matches</small>
                                            </div>
                                        </div>
                                        <div class="col-4 col-sm-4">
                                            <div class="d-flex flex-column">
                                                <div class="stats-count text-main mb-0">12265</div>
                                                <small class="fw-bold small">Total Runs</small>
                                            </div>
                                        </div>
                                        <div class="col-4 col-sm-4">
                                            <div class="d-flex flex-column">
                                                <div class="stats-count text-main mb-0">75</div>
                                                <small class="fw-bold small">Centuries</small>
                                            </div>
                                        </div>
                                        <div class="col-4 col-sm-4">
                                            <div class="d-flex flex-column">
                                                <div class=" stats-count text-main mb-0">197*</div>
                                                <small class="fw-bold small">Highest</small>
                                            </div>
                                        </div>
                                        <div class="col-4 col-sm-4">
                                            <div class="d-flex flex-column">
                                                <div class=" stats-count text-main mb-0">57</div>
                                                <small class="fw-bold small">M.O.M</small>
                                            </div>
                                        </div>
                                        <div class="col-4 col-sm-4">
                                            <div class="d-flex flex-column">
                                                <div class="stats-count text-main mb-0">18</div>
                                                <small class="fw-bold small">Jersey Number</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto col-sm order-1 order-lg-0 text-center">
                                    <img src="../../../assets/user.png" alt="image" class="img-fluid player-img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card recent_best_performers">
                        <div class="card-body">
                            <div class="mb-4">Recent Best Performers</div>
                            <div class="row">
                                <div class="col-4 col-sm-4">
                                    <div class="d-flex flex-column align-items-center gap-2 text-center">
                                        <img src="../../../assets/user.png" alt="image" class="img-fluid">
                                        <span>Rohit Sharma</span>
                                    </div>
                                </div>
                                <div class="col-4 col-sm-4">
                                    <div class="d-flex flex-column align-items-center gap-2 text-center">
                                        <img src="../../../assets/user.png" alt="image" class="img-fluid">
                                        <span>Rohit Sharma</span>
                                    </div>
                                </div>
                                <div class="col-4 col-sm-4">
                                    <div class="d-flex flex-column align-items-center gap-2 text-center">
                                        <img src="../../../assets/user.png" alt="image" class="img-fluid">
                                        <span>Rohit Sharma</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
               
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="team-stats-pane" role="tabpanel" aria-labelledby="team-stats" tabindex="0">...
    </div>
</div>